@font-face {
    font-family: special;
    src: url(assets/SpecialElite.ttf);
}

html {
    box-sizing: border-box;
    font-size: 100%;
}

body {
    margin: auto;
    padding: 0;
}

canvas {
    display: block;
    margin: auto;
}

h1 {
    font-family: special;
    font-size: 3em;
    color: white;
    text-align: center;
}

body {
    background-color: rgb(0, 0, 0);
}

a {
    font-family: special;
    font-size: 2em;
    color: white;
    text-align: center;
    display: block;
    line-height: 2em;
}

#sketch-container {
    margin-top: 20px;
    position: absolute;
    left: 30%;
}

button {
    margin-top: 30px;
    margin-bottom: 80px;
    background-color: black;
    font-family: special;
    color: white;
    font-size: 30px;
    justify-content: space-between;
}
.nav {
    display: flex;
    justify-content: center;
}
#sign {
    position: absolute;
    height: auto;
    width: 50%;
    top: 10%;
    left: 25%;
    opacity: 1;
    transition: opacity 2s ease;
  }
#sign.hidden {
    position: absolute;
    height: auto;
    width: 50%;
    top: 10%;
    left: 25%;
    opacity: 0;
  }
#frame{
    position: absolute;
   justify-content: center;
}
