@font-face {
    font-family: special;
    src: url(assets/SpecialElite.ttf);
}
h1 {
    font-family: special;
    font-size: 3em;
    color: white;
  text-align: center;
}
body {
    background-color: black;
}
a{
    font-family: special;
    font-size: 2em;
    color: white;
    text-align: center;
    display: block;
    line-height: 2em;
}